.perfil-container{
	.password{
		@include boxShadow;
		border:1px solid #eee;
		background: $greyBackground;
		padding-bottom: 20px;
		@media screen and (max-width: $break-medium) { margin-top: 20px; }
	}
	.perfil-image-container {
		@media screen and (max-width: $break-small) {
			width: 100%;
			text-align: center;
			.btn-block{ width: 50%; margin: 0 auto;}
			.img-responsive{ width: 50% !important; height: auto; margin: 0 auto; }
		}
		.img-responsive{ width: 100%; height: auto; padding: 10px; }
	}
}