
.revista-container article p {
	 margin-top: 4px;
	 font-size: 13px;
	 color: #555555;

	}

p {
	padding: 0;
	margin-bottom: 12px;
	font-family: "Open Sans", helvetica, arial;
	font-weight: 300;
	font-size: 13px;
	line-height: 23px;
	color: #696E74;
	margin-top: 10px;
}


.navbar-nav>li>a {
	text-transform: uppercase;
	font-size: 12px;
}


.col-xs-3 article{
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	overflow: hidden;
	transition: border 0.25;
}

.revista-container article p {
	font-size: 12px ;
}
